<!-- start custom head snippets -->

<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700' rel='stylesheet' type='text/css'>

<div class="super-search" id="js-super-search">
  <a href="javascript:void(0)" onclick="superSearch.toggle()" class="super-search__close-btn">X</a>
  <input type="text" placeholder="Type here to search" class="super-search__input" id="js-super-search__input">
  <ul class="super-search__results" id="js-super-search__results"></ul>
</div>

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
