/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

/*
   Hide the following elements on print
   ========================================================================== */

@media print {
  .masthead,
  .toc,
  .page__share,
  .page__related,
  .ads,
  .page__footer,
  .sidebar {
    display: none;
  }
  .page__inner-wrap {
    margin-top: 1em;
  }
  #main {
    border: 0;
    margin-top: 0;
  }
}
